@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

s:root {
  --vermelho: #E50914;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: 'Open Sans', sans-serif;
  color: white;
  overflow-x: hidden;
}

header {
  height: 15vh;
  align-items: center;
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;

}

header .container {
  width: 25%;
  margin-left: 50%;
  display: flex;
  align-items: center;
  position: relative;
  text-align: center;
  justify-content: center;
}

.titulo-sub {
  width: 25vw;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.titulo-sub p {
  right: 100px;
  margin-top: -10px;
  font-size: 2vh;
}

header .titulo-sub h2 {
  color: red;
  font-family: 'Koulen', sans-serif;
  font-weight: bold;
  font-size: 2.5vmax;
  margin-top: -10px;
}

header nav a {
  text-decoration: none;
  color: #aaa;
  margin-left: 20px;
}

header nav a:hover {
  color: #FFFFFF;
}

.container-2 {
  height: 200px;
  width: 70%;
  border-radius: 20px;
  margin: 0 auto;
  background-color: white;
  align-items: center;
  justify-content: center;
  display: flex;
}

.container-2 .text-container-2 {
  width: 70%;
  color: black;
  height: 90%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.container-2 .text-container-2 h2 {
  padding-bottom: 10px;
}
