/*Alterações feitas quando a janela do navegador 
tiver 1200px de largura ou menos:*/

@media screen and (max-width: 1300px) {
    .slide-pai {
        height: 60vh;
    }

    #slide div.selected {
        height: 58vh;
    }

    .info-filho h1 {
        font-size: 30px;
        text-shadow: 5px 5px 2px black;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 10px;
        margin-top: 100px;
        cursor: default;
        text-transform: uppercase;
    }

    .info-filho a {
        width: 32%;
    }

    .botao {
        width: 100%;
        padding: 15px 30px;
        margin-right: 10px;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
        font-size: 14px;
        transition: 0.5s ease-in-out;
    }

    .seta-baixo {
        margin-bottom: -50px;
        width: 50px;
        height: 35px;
        transition: transform .3s ease;
        cursor: pointer;

    }

    #film1 {
        background-image: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, 0.99)90%), url('../img/slide/endgame.jpg');
        background-position: center;
        background-size: 130%;
        background-repeat: no-repeat;
        background-position: top;
    }

    #film2 {
        background-image: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .99)90%), url('../img/slide/spiderverse.jpg');
        background-position: center;
        background-size: 130%;
        background-repeat: no-repeat;
        background-position: top;
    }

    #film3 {
        background-image: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .99)90%), url('../img/slide/arcane.jpg');
        background-position: center;
        background-size: 130%;
        background-repeat: no-repeat;
        background-position: top;
    }

    #film4 {
        background-image: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .99)90%), url('../img/slide/yourname.jpg');
        background-position: center;
        background-size: 130%;
        background-repeat: no-repeat;
        background-position: top;
    }

    #film5 {
        background-image: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .99)90%), url('../img/slide/interestelar.jpg');
        background-position: center;
        background-size: 130%;
        background-repeat: no-repeat;
        background-position: top;
    }

    #film6 {
        background-image: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .99)90%), url('../img/slide/cincopassos.jpg');
        background-position: center;
        background-size: 130%;
        background-repeat: no-repeat;
        background-position: top;
    }

    #film7 {
        background-image: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .99)90%), url('../img/slide/transformers.jpg');
        background-position: center;
        background-size: 130%;
        background-repeat: no-repeat;
        background-position: top;
    }

    #film8 {
        background-image: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .99)90%), url('../img/slide/godzilla.jpg');
        background-position: center;
        background-size: 130%;
        background-repeat: no-repeat;
        background-position: top;
    }

    #film9 {
        background-image: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .99)90%), url('../img/slide/jw2.jpg');
        background-position: center;
        background-size: 130%;
        background-repeat: no-repeat;
        background-position: top;
    }

    #film10 {
        background-image: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .99)90%), url('../img/slide/joker.jpg');
        background-position: center;
        background-size: 130%;
        background-repeat: no-repeat;
        background-position: top;
    }

}

/*Alterações feitas quando a janela do navegador 
tiver 800px de largura ou menos:*/

@media screen and (max-width: 900px) {

    .slide-pai {
        height: 60vh;
    }


    #slide div.selected {
        height: 58vh;
    }

    .info-filho h1 {
        font-size: 30px;
        text-shadow: 5px 5px 2px black;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 10px;
        margin-top: 100px;
        cursor: default;
        text-transform: uppercase;
    }

    .info-filho a {
        width: 45%;
    }

    .botao {
        width: 100%;
        padding: 15px 30px;
        margin-right: 10px;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
        font-size: 14px;
        transition: 0.5s ease-in-out;
    }

    .seta-baixo {
        width: 50px;
        height: 35px;
        transition: transform .3s ease;
        cursor: pointer;

    }

    #film1 {
        background-image: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, 0.99)90%), url('../img/slide/endgame.jpg');
        background-position: center;
        background-size: 130%;
        background-repeat: no-repeat;
        background-position: top;
    }

    #film2 {
        background-image: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .99)90%), url('../img/slide/spiderverse.jpg');
        background-position: center;
        background-size: 130%;
        background-repeat: no-repeat;
        background-position: top;
    }

    #film3 {
        background-image: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .99)90%), url('../img/slide/arcane.jpg');
        background-position: center;
        background-size: 130%;
        background-repeat: no-repeat;
        background-position: top;
    }

    #film4 {
        background-image: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .99)90%), url('../img/slide/yourname.jpg');
        background-position: center;
        background-size: 130%;
        background-repeat: no-repeat;
        background-position: top;
    }

    #film5 {
        background-image: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .99)90%), url('../img/slide/interestelar.jpg');
        background-position: center;
        background-size: 130%;
        background-repeat: no-repeat;
        background-position: top;
    }

    #film6 {
        background-image: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .99)90%), url('../img/slide/cincopassos.jpg');
        background-position: center;
        background-size: 130%;
        background-repeat: no-repeat;
        background-position: top;
    }

    #film7 {
        background-image: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .99)90%), url('../img/slide/transformers.jpg');
        background-position: center;
        background-size: 130%;
        background-repeat: no-repeat;
        background-position: top;
    }

    #film8 {
        background-image: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .99)90%), url('../img/slide/godzilla.jpg');
        background-position: center;
        background-size: 130%;
        background-repeat: no-repeat;
        background-position: top;
    }

    #film9 {
        background-image: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .99)90%), url('../img/slide/jw2.jpg');
        background-position: center;
        background-size: 130%;
        background-repeat: no-repeat;
        background-position: top;
    }

    #film10 {
        background-image: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .99)90%), url('../img/slide/joker.jpg');
        background-position: center;
        background-size: 130%;
        background-repeat: no-repeat;
        background-position: top;
    }

}

/*Alterações feitas quando a janela do navegador 
tiver 600px de largura ou menos:*/

@media screen and (max-width: 600px) {
    .slide-pai {
        height: 55vh;
        width: 100vw;
    }

    #slide div.selected {
        height: 55vh;
        margin-top: 40px;
    }

    .info-filho a {
        width: 50%;
    }

    .botao {
        width: 100%;
        padding: 15px 30px;
        margin-right: 10px;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
        font-size: 14px;
        transition: 0.5s ease-in-out;
    }

    .info-pai {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .info-filho {
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        flex-direction: column;
    }

    .info-filho h1 {
        font-size: 4vw;
        width: 100%;
        text-shadow: 5px 5px 2px black;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 10px;
        margin-top: 0px;
        cursor: default;
        text-transform: uppercase;
    }

    .botao {
        width: 200px;
        padding: 15px 30px;
        margin-right: 10px;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
        font-size: 12px;
        transition: 0.5s ease-in-out;
    }

    .seta-baixo {
        width: 50px;
        height: 35px;
        top: 50px;
        margin-top: 50px;
        margin-bottom: 0px;
        transition: transform .3s ease;
        cursor: pointer;
    }

    #film1 {
        background-image: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, 0.99)70%), url('../img/slide/endgame.jpg');
        background-position: center;
        background-size: 140%;
        background-repeat: no-repeat;
        background-position: top;
    }

    #film2 {
        background-image: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .99)70%), url('../img/slide/spiderverse.jpg');
        background-position: center;
        background-size: 140%;
        background-repeat: no-repeat;
        background-position: top;
    }

    #film3 {
        background-image: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .99)70%), url('../img/slide/arcane.jpg');
        background-position: center;
        background-size: 140%;
        background-repeat: no-repeat;
        background-position: top;
    }

    #film4 {
        background-image: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .99)70%), url('../img/slide/yourname.jpg');
        background-position: center;
        background-size: 140%;
        background-repeat: no-repeat;
        background-position: top;
    }

    #film5 {
        background-image: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .99)70%), url('../img/slide/interestelar.jpg');
        background-position: center;
        background-size: 140%;
        background-repeat: no-repeat;
        background-position: top;
    }

    #film6 {
        background-image: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .99)70%), url('../img/slide/cincopassos.jpg');
        background-position: center;
        background-size: 140%;
        background-repeat: no-repeat;
        background-position: top;
    }

    #film7 {
        background-image: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .99)70%), url('../img/slide/transformers.jpg');
        background-position: center;
        background-size: 140%;
        background-repeat: no-repeat;
        background-position: top;
    }

    #film8 {
        background-image: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .99)70%), url('../img/slide/godzilla.jpg');
        background-position: center;
        background-size: 140%;
        background-repeat: no-repeat;
        background-position: top;
    }

    #film9 {
        background-image: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .99)70%), url('../img/slide/jw2.jpg');
        background-position: center;
        background-size: 140%;
        background-repeat: no-repeat;
        background-position: top;
    }

    #film10 {
        background-image: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .99)70%), url('../img/slide/joker.jpg');
        background-position: center;
        background-size: 140%;
        background-repeat: no-repeat;
        background-position: top;
    }

}