@media screen and (max-width: 800px) {
   header .container {
      display: flex;
      flex-direction: column;
   }

   header {
      height: 170px;
      font-size: 12px;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      flex-direction: column;

   }
.container-2{
   width: 80%;
   margin: 0px auto;
}
.container-2 .text-container-2{
   width: 80%;
}
   header .container {
      width: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
      margin-right: 50%;
      padding-top: 20px;
      margin-left: 50%;
   }


   .botao {
      display: flex;
      flex-direction: row;
      width: 200px;
      margin-top: 8px;
      align-items: center;
      text-align: center
   }

   .botoes {
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: row;
      text-align: center;
   }
}