* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 2000px;
}

.slide-pai {
    height: 80vh;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#slide {
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    width: 100%;
    height: 100%;
    position: cover;
}

#slide div {
    opacity: 0;
    display: none;
    width: 100%;
    height: 540px;
    object-fit: cover;

}

#slide div.selected {
    display: block;
    animation: slide;
    animation-timing-function: ease-in-out;
    animation-duration: 10s;
}


@keyframes slide {
    from {
        opacity: 0;
        display: none;
    }

    20% {
        opacity: 1;
        display: block;
    }

    80% {
        opacity: 1;
        display: block;
    }

    to {
        opacity: 0;
        display: none;
    }
}


.info-pai {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info-filho {
    width: 80%;
    height: 80%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info-filho h1 {
    font-size: 40px;
    text-shadow: 5px 5px 2px black;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    margin-top: 150px;
    cursor: default;
    text-transform: uppercase;
}

.botao {
    background-color: rgba(0, 0, 0, .60);
    border: none;
    color: white;
    width: 100%;
    padding: 15px 30px;
    margin-right: 10px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    font-size: 14px;
    transition: 0.5s ease-in-out;

}

.info-filho a{
    width: 20%;
    text-decoration: none;
    color: white;
}

.botao:hover {
    background-color: white;
    color: black;

}

.info-filho a:hover {
    color: black;
}



button i {
    margin-right: 10px;
}

.seta-baixo {
    width: 45px;
    height: 30px;
    transition: transform .3s ease;
    cursor: pointer;

}

.seta-baixo:hover {
    transform: scale(1.2);
}

#film1 {
    background-image: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, 0.99)100%), url('../img/slide/endgame.jpg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: auto;
}

#film2 {
    background-image: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .99)100%), url('../img/slide/spiderverse.jpg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: auto;
}

#film3 {
    background-image: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .99)100%), url('../img/slide/arcane.jpg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: auto;
}

#film4 {
    background-image: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .99)100%), url('../img/slide/yourname.jpg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: auto;
}

#film5 {
    background-image: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .99)100%), url('../img/slide/interestelar.jpg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: auto;
}

#film6 {
    background-image: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .99)100%), url('../img/slide/cincopassos.jpg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: auto;
}

#film7 {
    background-image: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .99)100%), url('../img/slide/transformers.jpg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: auto;
}

#film8 {
    background-image: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .99)100%), url('../img/slide/godzilla.jpg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: auto;
}

#film9 {
    background-image: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .99)100%), url('../img/slide/jw2.jpg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: auto;
}

#film10 {
    background-image: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .99)100%), url('../img/slide/joker.jpg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: auto;
}