@media screen and (max-width: 1400px) {

    .box-film {
        height: 80vh;
    }

    .content1 {
        width: 25%;
        height: 80%;
    }

    .content2 {
        width: 70%;
        height: 65%;
        margin-left: 20px;
    }

    .content2 h1 {
        font-size: 2.1vw;
    }

    .content2 p {
        font-size: 1.2vw;
    }

    .critica p {
        font-size: 1.2vw;

    }

    .info-dire h4 {
        font: 1.5vw;
    }

    .critica h2 {
        font-size: 3vw;
    }

    .autor-critica h2 {
        font-size: 3vw;
    }

}

@media screen and (max-width: 1100px) {

    .content2 {
        width: 60%;
    }

    header .container {
        width: 30%;
        margin-left: 40%;
    }

    header .titulo h2 {
        color: red;
        font-family: 'Koulen', sans-serif;
        font-weight: bold;
        font-size: 3vmax;
    }

    .critica h2 {
        font-size: 2.5vw;
    }

    .autor-critica h2 {
        font-size: 2vw;
    }
}

@media screen and (max-width: 900px) {

    header .container {
        width: 40%;
        margin-left: 30%;
    }

    header .titulo h2 {
        color: red;
        font-family: 'Koulen', sans-serif;
        font-weight: bold;
        font-size: 4vmax;
    }


    .content1 {
        height: 80%;
        width: 30%;
        margin-left: 15px;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .content2 {
        width: 65%;
        height: 60%;
        margin-left: 15px;
    }

    .content2 h1 {
        font-size: 2.7vw;
    }

    .content2 p {
        font-size: 1.7vw;
    }

    .info-dire h4 {
        font: 1.9vw;
    }

    .critica p {
        font-size: 1.5vw;

    }

    .info-dire {
        width: 40%;
        height: 50px;
    }

    .critica h2 {
        font-size: 3vw;
    }

    .autor-critica h2 {
        font-size: 2vw;
    }


}

@media screen and (max-width: 700px) {
    header {
        flex-direction: column;
        height: 20vh;
    }

    header .container {
        width: 100%;
        margin-left: 0%;
    }

    header .titulo h2 {
        color: red;
        font-family: 'Koulen', sans-serif;
        font-weight: bold;
        font-size: 5vmax;
        margin-top: -15px;
    }

    .content1 {
        margin-top: -50px;
    }

    .content2 {
        margin-top: -80px;
    }

    .content2 h1 {
        font-size: 3.5vw;
    }

    .content2 p {
        font-size: 2vw;
    }

    .info-dire h4 {
        font: 1.9vw;
    }

    .critica p {
        font-size: 2vw;

    }

    .info-dire {
        width: 50%;
        height: 50px;
    }

    .info-dire h4 {
        font-size: 2.1vw;
    }

    .critica h2 {
        font-size: 3vw;
    }

    .autor-critica h2 {
        font-size: 3vw;
    }
}